<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- scope默认是singleton，lazy-init默认是false，当scope为prototype时，一直是懒加载 -->
    <bean id="userEntity" class="com.liuwq.entity.UserEntity" scope = "singleton" lazy-init="true">
        <property name="userId" value="10"/>
        <property name="userName" value="mayikt"/>
    </bean>
</beans>